<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <title>HERO LIST</title>
  </head>
  <body>
    <div class="container">
    <h1 align="center"><%= heroes.title %></h1>
    <br />
      <table class="table table-striped table-hover table-bordered">
          <thead class="table-dark" >
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Nama</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
              </tr>
          </thead>
          <tbody>

              <% for(let i = 0; i < heroes.data.length; i++) { %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= heroes.data[i].name %></td>
                <td><%= heroes.data[i].role %></td>
                <form action="/hero/remove" method="post">
                  <td>
                    <a href="/hero/skill/<%= heroes.data[i].id %>"><button type="button" class="btn btn-success" >Skill</button></a>
                    <a href="/hero/<%= heroes.data[i].id %>"><button type="button" class="btn btn-primary" >Edit</button></a>
                    <input type="text" hidden name="id" value="<%= heroes.data[i].id %>" />
                    <button onclick="return confirm('Yakin mau dihapus bang?');" type="submit" class="btn btn-warning">Delete</button>
                  </td>
                </form>
              </tr>
              <% } %>
          </tbody>
      </table>
  </div>

    <br />
    <br />
    <br />

    <!-- Tambah Hero -->
    <div class="container">
    <p>Tambah Data Hero</p>
    <br />
    <form class="row g-3" action="/hero/add" method="post" >
        <div class="row">
          <div class="col-2">
            <input
              type="text"
              name="name"
              class="form-control"
              placeholder="Isi nama hero"
              aria-label="Isi nama hero"
              id="name"
            />
          </div>
          <br />
          <br />
          <div class="col-2">
            <input
              type="text"
              name="role"
              class="form-control"
              placeholder="Isi role hero"
              aria-label="isi role hero"
              id="name2"

            />
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3" value="tambahkan" onclick="return confirm('Yakin mau ditambah bang?');">
            Tambahkan Hero
          </button>
        </div>
      </form>
</div>

    <!-- swal setting -->


  </body>
</html>
